LoadModule php5_module        modules/mod_php55.so
AddType  application/x-httpd-php         .php
AddType  application/x-httpd-php-source  .phps
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
RewriteCond %{REQUEST_URI} "/game/"
