/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #00ffc6;
}

a.black,
a.black:focus,
a.black:hover{
  color: black;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

canvas {
 height: 99% !important;
}

/*
 * Base structure
 */

 @font-face {
    font-family: beantown;
    src: url(../fonts/Beantown.ttf);
}

html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Ubuntu', serif;
}
body {
  color: white;
  background-color: #52B3D9;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.mid{
  width:80%;
  height:25%;
  position: absolute; 
  top: 20%;
  text-align: center;
}

.topmid{
  width:80%;
  height:80%;
  overflow: auto;
  position: absolute; 
  top: 15%;
  left: 10%;
  text-align: left;
  padding: 30px;
}

.custom-title{
  color: #fff;
}


#intro{
  font-family: beantown;
  font-size: 10vh;
  color: black;
}

div.page{
  background: #000000ab;
  border-radius: 5px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #111; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

li.list-group-item{
 color:black;
}

  .masthead-nav {
    float: right;
  }



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #111; /* IE8 proofing */
  color: rgba(0,0,0,.5);
}


/*
 * Affix and center
 */

/* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%
  }
}
.panel-title{
  color: black;
}
.panel-body{
  color: black;
}
